#include "DEVELOPMENT_TEAM.xcconfig"
//Create the file DEVELOPMENT_TEAM.xcconfig in the project directory
//with the following build setting:
//DEVELOPMENT_TEAM = [Your TeamID]

ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
BONJEFF_SHORT_VERSION = 2.0.1
BONJEFF_VERSION = 2.0.1
CODE_SIGN_ENTITLEMENTS = nonsource/Bonjeff.entitlements
CODE_SIGN_IDENTITY = Mac Developer
CODE_SIGN_STYLE = Automatic
COMBINE_HIDPI_IMAGES = YES
ENABLE_HARDENED_RUNTIME = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
INFOPLIST_FILE = nonsource/Info.plist
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
MACH_O_TYPE = mh_execute
MACOSX_DEPLOYMENT_TARGET = 10.13
PRODUCT_NAME = Bonjeff
SDKROOT = macosx
SWIFT_VERSION = 4.2
WRAPPER_EXTENSION = app
